body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
  }
  
  .container {
    max-width: 600px;
    background-color: rgb(3, 57, 15);
    padding: 30px;
    border-radius: 10px;
    margin: auto;
    box-shadow: 0 0 15px rgb(0, 0, 0);
  }
  
  h1 {
    text-align: center;
    color: #ffffff;
    margin-bottom: 30px;
  }
  
  input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .btn {
    width: 100%;
    padding: 15px;
    margin: 8px 0;
    background-color: #3f8539;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
  }
  
  .btn:hover {
    background-color: #df6304;
    transform: scale(1.03);
  }
  
  .limpar {
    background-color: #666;
  }
  
  .limpar:hover {
    background-color: #444;
  }
  
  #resultado {
    margin-top: 25px;
    font-size: 18px;
    padding: 15px;
    border-radius: 8px;
    background-color: #eee;
  }
  